#frase1{
    color: blue;
}
.frases-celebres{
    color: green;
}
p{
    color: red;
    border: red 2px;
    background-image: url("img/JayT.jpeg") ;
}
*{
    border: green dotted 1px;
    padding: 10px;
    margin: 10px;
    background-color: darkturquoise; 
    background-image: url("img/kobe.jpg");
}