#frase1{
    color: blue;
}
.frases-celebres{
    color: green;
}
p{
    color: red;
}
*{
    border: green dotted 1px;
    padding: 10px;
    margin: 10px;
    background-color: darkturquoise; 
    background-image: url("img/JayT.jpeg");
}