/* Autor: lio */

body{
    text-align: center;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

p{
    color: mediumvioletred;
}
.especial{
    color: yellow;
}
#DJ{
    color: blue;
}
#rojo{
    color: red;
}